:root{
  /* COLORES */
  --color-details: #e03e3e;
  --color-background-sale: rgb(0, 116, 228);
  --color-background: #1e1e1e;
  --color-black: #000;
  --color-gray: #2b2b2b;
  --color-fonts-primary: #fff;
  --color-fonts-secundary: #777f82;
}
html {
  box-sizing: border-box; 
  font-family: 'Dosis', sans-serif;
}
*,*:before,*:after {
  box-sizing: inherit;
}
body{
  font-size: 18px;
  margin: 3px;
  background-color: var(--color-background);
}
h6{
  font-size: 0.4em;
  text-align: center;
  margin: 2px 0px;
  padding: 2px;
  background-color: var(--color-gray);
  color: var(--color-details);
}
/* ******************* Header ******************* */
.header_container {
  margin-top: 0;
}
.pulse{
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0%{ font-variation-settings: 'wght' 200;}
  33%{ font-variation-settings: 'wght' 400;}
  66%{ font-variation-settings: 'wght' 600;}
  100%{ font-variation-settings: 'wght' 800;}
}
/* ******************* NAVs ******************* */
.nav_fixed{
  width: 100%;
  position: sticky;
  background-color:var(--color-details);
  color: var(--color-gray);
  text-align: center; 
  border-radius: 0px 0px 2px 2px  ;
}
.title_fixed{
  margin: 2px;
  font-size: 1.5em;
}
.nav_web{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3px;
}
.nav_web a {
  color: var(--color-fonts-primary);
  font-size: 0.8em;
  padding: 3px 3px;
  text-decoration: none;
}
.nav-shop-container{
  width: 30px;
  height: 30px;
  margin: 3px;
  background-color: var(--color-details);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-shop-container:hover{
  transform: scale(1.05);
}
.nav_mobile_container{
  display: none;
}
.header_menu_img{
  width: 18px;
  height: 18px;
  color: var(--color-fonts-primary);
}
.header_img_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header_img {
  width: 90%;
  height: 220px;
}
.underline {
  width: 100%;
  height: 5px;
  margin: 3px 0px;
  border-radius: 3px;
  background-color: crimson;
}

@media screen and (max-width: 1280px) {
  .header_img{
    width: 98%;
    height: 180px;
  }
}
@media screen and (max-width: 768px){
  .nav_web{
    display: none;
  }
  .nav_mobile_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav_mobile_container p {
    color: var(--color-fonts-primary);
    margin: 2px;
    font-size: 0.7em ;
  }
  .nav_mobile{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-details);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
  }
}

@media screen and (max-width: 480px){
  .header_img{
    width: 98%;
    height: 160px;
  }
  .nav_web{
    display: none;
  }
  .nav_mobile_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav_mobile_container p {
    color: var(--color-fonts-primary);
    margin: 2px;
    font-size: 0.7em ;
  }
  .nav_mobile{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-details);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
  }
}
/* ******************* MAIN ******************* */
.main_container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
h2{
  font-size: 1.1em;
  color: var(--color-fonts-primary);
  text-align: center;
  margin-bottom: 10px;
}

/* ******************* STORE ******************* */
.store_container{
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid greenyellow; */
  gap: 2.5%;
  padding: 15px;
  overflow: hidden;
}
.store_card{
  width: 23%;
  min-width: 250px;
  padding: 2px;
  margin: 5px 0;
  background-color: var(--color-gray);
  border: 0.1px solid var(--color-fonts-primary);
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 var(--color-background-sale);
}
.store_img{
  width: 100%;
  height: 80%;
  border-radius: 3px;
}
.store_card:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 3px 3px rgba (0,0,0, 0.7);
}
.store_card_description{
  height: 20%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 45px);
  color: var(--color-fonts-primary);
}
.store_card_title{
  grid-row: 1/2;
  grid-column: span 4;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 2px;
}
.store_button_add{
  grid-row: 2/3;
  grid-column: 4/5;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  align-self: center;
  background-color: var(--color-details);
  color: var(--color-black);
  cursor: pointer; 
}
.store_card_price{
  grid-column: 2/4;
  grid-row: 2/3;
  text-align: center;
  font-size: 1.3em;
  margin-top: 10px;
}
.store_card_amount{
  margin: auto;
  font-size: 0.9em;
}

@media screen and (max-width: 1150px){
  .store_container{
    justify-content: center;
  }
}

/* ******************* SALE ******************* */
.sale_container{
  width: 70%;
  max-width: 885px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid greenyellow; */
  gap: 2%;
  padding: 10px;
  overflow: hidden;
}
.sale_card {
  width: 25%;
  min-width: 200px;
  padding: 3px;
  margin: 5px 0;
  background-color: var(--color-gray);
  border: 0.1px solid var(--color-fonts-secundary);
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 var(--color-details);
  background-color: var(--color-gray);
}
.sale_card:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
}
.sale_img {
  width: 100%;
  height: 80%;
  border-radius: 3px;
}
.sale_card_description {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,45px);
  margin-left: 5px;
  /* border: 1px solid goldenrod; */
  color: var(--color-fonts-primary);
}

.sale_card_title {
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: left;
  font-size: 1.3em;
  align-self: center;
}
.sale_button_add{
  grid-row: 1/2;
  grid-column: 4/5;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  align-self: center;
  background-color: var(--color-details);
  color: var(--color-black);
  cursor: pointer; 
}

.sale_card_discount_container {
  height: 30px;
  width: 50px;
  align-self: center;
  justify-self: center;
  background-color: var(--color-background-sale);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale_card_discount{
  font-size: 1.1em;
}
.sale_card_old_price{
  text-decoration: line-through;
  color: var(--color-fonts-secundary);
  margin: auto;
  font-size: 0.9em;
}
.sale_card_price{
  color: var(--color-fonts-primary);
  margin: auto;
  font-size: 1.1em;
  margin-left: 2px;
}
.sale_card_amount{
  margin: auto auto auto 40%;  
  /* margin-left: 40%; */
  font-size: 0.8em;
}
/* ******************* FOOTER ******************* */
.foot_container{
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 1px solid greenyellow; */
}
.foot_text{
  text-align: center;
  background-color: var(--color-gray);
  color: var(--color-fonts-primary);
  margin: 15px 0px 5px 0px;
  border-radius: 5px 5px 0px 0px;
  font-size: 0.8em;
  padding: 10px;
}
.foot_❤{
  border-radius: 0px 0px 5px 5px;
}
.foot-a-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-a-up{
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  right: 25px;
  bottom: 12px;
}


/* ******************* SHOP ******************* */
.shop-h1{
  text-align: center;
  color: var(--color-fonts-primary);
  font-size: 2em;
  font-weight: bold;
}
.shop-container{
  width: 60%;
  /* border: 1px solid var(--color-background-sale); */
  margin: auto;
}
.shop-titles{
  display: grid;
  grid-template-columns: 16% 52% 16% 16%;
  padding: 3px 6px;
  text-align: center;
  background-color: var(--color-gray);
  color: var(--color-details);
  font-size: 1.2em;
}
.b-r{
  border-right: 1px solid var(--color-fonts-primary);
}
.shop-details{
  margin-top: 5px;
  background-color: var(--color-gray);
  display: grid;
  grid-template-columns: 16% 52% 16% 16%;
  text-align: center;
}
.shop-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-img{
  width: 43px;
  height: 58px;
  padding: 3px;
}
.shop-amount-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
}
.btn-amount{
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-background-sale);
}
.shop-text{
  margin: auto;
}
.shop-calc-total{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  background-color: var(--color-gray);
  color: var(--color-details);
  font-size: 1.2em;
}
.shop-total{
  padding: 0 0 8px 0;
}
.btn-buy{
  width: 80px;
  height: 35px;
  color: var(--color-details);
  font-weight: 800;
  border: 0.5px solid var(--color-details);
  border-radius: 10px;
  cursor: pointer;
}
